.order-card{
  background:#111827;
  padding:15px;
  margin-bottom:15px;
  border-radius:10px;
}

.order-top{
  display:flex;
  justify-content:space-between;
}

.status{
  padding:5px 10px;
  border-radius:20px;
}
